<ion-header>
  <ion-toolbar>
    <ion-title> {{ selectedCylinder.size }} </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="ion-margin ion-text-center">{{ selectedCylinder.title }}</h5>
  <h5 class="ion-margin ion-text-center">{{ selectedCylinder.price }}</h5>

  <div class="checkout-btn-wrap">
    <ion-button class="checkout-btn" (click)="onCheckOut()">CheckOut!</ion-button>
  </div>
</ion-content>
