<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cylinders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedCylinder.size }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col class="ion-no-padding">

        <ion-img [src]="loadedCylinder.imageUrl"></ion-img>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="cylinder-detail-title"> {{ loadedCylinder.title }} </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Refill price: <ion-text color="primary" class="detail-value">{{ loadedCylinder.price | currency:'NGN':'symbol-narrow' }}</ion-text> only.
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder detail: {{ loadedCylinder.productDetail }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder weight: {{ loadedCylinder.weight }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder size: <span class="detail-value"> {{ loadedCylinder.size }} </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button (click)="onCheckOut()" class="ion-margin">Order refill</ion-button>
</ion-content>
