<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cylinders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : cylinder.size }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SHOW THE SPINNER IF WE ARER LOADING -->
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading">

    <ion-row>
      <ion-col class="ion-no-padding">

        <ion-img [src]="cylinder.imageUrl"></ion-img>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="cylinder-detail-title"> {{ cylinder.title }} </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Refill price: <ion-text color="primary" class="detail-value">
              {{ cylinder.price | currency:'NGN':'symbol-narrow' }}</ion-text> only.
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder detail: {{ cylinder.productDetail }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder weight: {{ cylinder.weight }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Cylinder size: <span class="detail-value"> {{ cylinder.size }} </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button (click)="onCheckOut()" class="ion-margin">Order refill</ion-button>
</ion-content>
