.cylinder-detail-title {

    color: var(--ion-color-primary);
    font-size: 1.3rem;
    font-weight: 600;
}

.detail-value {

    color: var(--ion-color-primary);
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: .5rem;
    margin-right: .5rem;
}
